.Pagination-Page{


    display:flex;

   justify-content: center;

   align-items: center;

   list-style: none;

   color: white;

   font-weight: bolder;

   font-size: 18px;

   
}

.Page-Item{


    margin: 3px;

    list-style: none;

    color: white;
}

.Page-Link{


    color: black;

    cursor: pointer;

  


    
}

.active-Item{

    background-color: #FF7BA9;

    padding: 1px;

    height: 30px;

    width: 30px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    color: inherit;

    border-radius: 50%;

    

    

    
}

.Page_Previous{

    background-color: #FF7BA9;

    border-radius: 2px;

    padding:2px;

    color: white;

    cursor: pointer;

    margin:3px;

    text-decoration: none;
}

.Page-Break{


    font-size: 55px;

    color: #222;
}




@media screen and (max-width: 600px){

    

    .pagination-page{

        display:flex;

        

    justify-content: center;

    margin: 10px;

    align-items: center;

    width:100%;
    width: 250px;


    font-size: 12px;


    font-weight:600px;
    }


    .page-previous{



        margin:30px;
    }

    .active-Item{


       
        background-color: #FF7BA9;

        padding: 5px;
    
        height: 30px;
    
        width: 20px;
    
        display: flex;
    
        align-items: center;
    
        justify-content: center;
    
        text-decoration: none;
    
        color: inherit;
    
        border-radius: 0%;
    }



}